@font-face {
    font-family: gloock;
    src: url(static/fonts/Gloock-Regular.ttf);
}
.gloock{
    font-family: gloock;
}
.f-color{
    color: #2E0F13;
}
nav{
    background-color: #EFE9F1;
    height: 100px;
}
.collapse-style{
    background-color: #EFE9F1;
}
.info{
    width: 250px;
}
.ft{
    background-color: #2E0F13;
    height: 550px;
}
@media only screen and (min-width: 768px){
    .some-h1{
        font-size: 80px;
    }   
}
.color_bg_gray{
    background-color: #E9EAEE;
}
.color_bg_broun{
    background-color: #2e0f13; 
}
.color_bg_pink{
    background-color: #EFE9F1;
}
.custom-btn{
    width: 250px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
.custom-btn:hover{
    background-color: #2e0f13;
    color: white;
}
.custom-div{
    height: 125px;
    width: 125px;
}

.form-style input,textarea{
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #2E0F13;
    background-color: #EFE9F1;
    width: 100%;
    resize: none;
}
.form-style input,textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
}
.custom-btn{
    width: 250px;
    transition: 0.3s;
}
.custom-btn:hover{
    background-color: #2e0f13;
    color: white;
}
.form-style button{
    background-color: #2e0f13;
    color: white;
    transition: 0.3s;
}
.form-style button:hover{
    background-color: white;
    color: #2e0f13;
}
.form-style button:active{
    background-color: white !important;
}